RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php/$1 [QSA,L]


##RewriteEngine On
##RewriteBase /php2-spring-2024/teach/
##RewriteRule ^assets/(.*)$ assets/$1 [L]
##RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]